<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Banners AD Generator</title>
</head>

<body>
  <!-- Google Analytics -->
  <script>
    window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
    ga('create', 'UA-144419846-1', 'auto');
    ga('send', 'pageview');
    console.info('loaded GA');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
  
  <!-- STYLES-->
  <style>
    fieldset input[type=text] {
      width:100%;
    }

    * {
      font-family: "museo-sans",sans-serif;
    }

    input#out-copy {
      background-color:palegreen;
    }

    div#out-copy-cnfrm {
      background-color:green;
      color:white;
      font-weight:bold;
      display:inline-block;
      font-size:0.75em;
      padding: 2px;
      margin-left: 3px;
    }

    div#out-ad-key {
      display:inline-block;
      background-color: lightgray;
      font-weight: bold;
      padding: 3px;
      font-size: 0.7em;
    }
  </style>

  <!-- SCRIPT -->
  <script id="tracking-link">
    jQuery.fn.exists = function(){ return this.length > 0; }

    function clear_output() {
      $('#out-area').val("")
      $('#preview').html("");
      $('#out-ad-key').html("");
      $('#out-copy').hide();
    }

    function clear_input() {
      $('#ad-inputs input').val("");
    }

    function setup_ui() {
      //Set up radio buttons
      $('#resp-600x200').click(function(e){
        $('#ad-size').val('600x200');
        clear_output();
        clear_input();
      });
      $('#resp-970x250').click(function(e){
        $('#ad-size').val('970x250');
        clear_output();
        clear_input();
      });
      //Set up click to copy link
      $('#out-copy').click(function() {
        joutArea = $('#out-area');
        joutArea.select();
        document.execCommand("copy");
        $('#out-copy-cnfrm').fadeIn(300).fadeOut(500);
      });
    }

    $(function () {
      setup_ui();

      $('#go-btn').click(function(){
        // Choose target template ( based on ad type selected )
        var tmplid = $('#ad-type input:checked').attr('template');
        var jtmplid = "#" + tmplid;
        if (! $(jtmplid).exists() ) {
          alert("Failed to generate the AD. The template for this AD type is not defined.\n"+
                "Ask your developer. The slacker may know something.");
          return;
        }

        // Collect data from the visible fields
        var ad_data = {};       
        // Read inputs for shared AD properties
        $('#ad-shared').find('input').each(function(i, el){
          ad_data[this.id] = $(this).val();
        });
        $('#ad-inputs').find('input').each(function(i, el){
          ad_data[this.id] = $(this).val();
        });

        // Render HTML & apply to output
        var tmpl = $(jtmplid).html().trim();
        var ohtml = Mustache.render(tmpl, ad_data);

        // Rending to the page
        joutArea = $('#out-area');
        joutArea.val(ohtml);
        joutArea.height(joutArea.get(0).scrollHeight);
        $('#preview').html(ohtml);
        
        // Showing the copy button
        $('#out-copy').show();
        // Output the rendered template identifier
        $('#out-ad-key').html(Mustache.render('ad-{{ad-size}}-{{ad-version}}-{{ad-author}} (responsive)', ad_data));

        try {
          ga('send', 'event', 'dfp-template-banner', jtmplid);
        } catch (err) {
          console.error("Failed to submit ga event");
          console.debug(err);
        }
      });
    });
  </script>

  <!-- Form Controls -->
  <form id="input-form" autocomplete="off">
    <fieldset id="ad-type">
      <legend>Banner Size</legend>
      <input type="radio" name="ad-type" id="resp-600x200" template="600x200-tmpl" checked /><label for="resp-300x250">600x200 Responsive Banner AD</label><br />
      <input type="radio" name="ad-type" id="resp-970x250" template="970x250-tmpl" /><label for="resp-970x250">970x250 Responsive Banner AD</label><br />
    </fieldset>
    <fieldset id="ad-shared">
      <legend>Shared</legend>
      <input id="ad-version" type="text" placeholder="AD version" /><br />
      <input id="ad-author" type="text" placeholder="AD author" /><br />
      <input id="ad-size" type="text" style="display:none;float:left;" value="600x200" /><br />
    </fieldset>
    <fieldset id="ad-inputs">
      <legend>Banner AD Details</legend>
      <input id="ad-url" type="text" placeholder="Set to client click-through URL" /><br />
      <input id="img-source" type="text" placeholder="Set to your deactivated high density (2x) image source URL" /><br />
      <input id="img-alt" type="text" placeholder="Set img alt text" /><br />
    </fieldset>
    
    <input id="go-btn" type="button" style="padding: 10px;margin-top:5px;font-size:110%;" value="Generate AD">
  </form>
  <hr/>
  <div>AD preview <div id="out-ad-key"></div></div>
  <div id="preview"></div>
  <hr/>
  <div>HTML markup of the AD <input type="button" id="out-copy" style="display:none;" value=" >> click here to copy" /><div id='out-copy-cnfrm' style="display:none;">DONE</div>
  <textarea id="out-area" readonly="true" style="resize:none;background-color:lightgray;min-height: 20px;width:100%;"></textarea>

<noscript id="600x200-tmpl" type="text/template" style="display:none;">
<link rel="stylesheet" type="text/css" href="https://mktops.simplermedia.com/shared/ads.css" />
<div class="adz-600x200"><a href="%%CLICK_URL_ESC%%{{{ad-url}}}" target="_top"><img src="{{{img-source}}}" alt="{{img-alt}}" style="height:auto;width:100%;max-width:600px;" /></a></div>
<script src="https://mktops.simplermedia.com/shared/ads.js"></script>
</noscript>

<noscript id="970x250-tmpl" type="text/template" style="display:none;">
<link rel="stylesheet" type="text/css" href="https://mktops.simplermedia.com/shared/ads.css" />
<a href="%%CLICK_URL_ESC%% {{{ad-url}}}" target="_top"><img src="{{{img-source}}}" alt="{{img-alt}}" style="height:auto;width:100%;max-width:970px;" /></a>
<script src="https://mktops.simplermedia.com/shared/ads.js"></script>
</noscript>

  </body>
</html>