<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DFP AD Templates</title>
</head>
<body>
  <!-- Google Analytics -->
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-144419846-1', 'auto');
    ga('send', 'pageview');
    console.info('loaded GA');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
  
  <script id="tracking-link">
      jQuery.fn.exists = function(){ return this.length > 0; }

      function setup_browser_storage(element_id) {
        var jid = '#' + element_id;
        if (!$(jid).exists()) {
          console.error("Failed to locate" + element_id + "element to setup browser storage");
        }
        $(jid).val(localStorage.getItem(element_id));
        $(jid).change(function(){
          localStorage.setItem(element_id, $( this ).val());
        });
      }

      function read_form() {
        var row_suffix = "";
        if ($('#geo-row').is(':checked')) { row_suffix = "-row"; }
        var data =     {
            lp_token: $('#lptoken').val(),
            ad: {
              ver: $('#ad-version').val(),
              auth: $('#ad-author').val(),
              row: row_suffix,
              title: $('#ad-title').val().replace("\n","<br/>"),
              brief: $('#ad-brief').val(),
              cta: $('#ad-cta').val(),
              txt_cta: $('#ad-txt-cta').val()
            },
            thumb: {
              src: $('#img-source').val(),
              alt: $('#img-alt').val()
            }
          };
          return data;
      }
      
      function activate_template( template_jselector, button_jselector ) {
        $(button_jselector).click(function(e){
          var template = $(template_jselector).html().trim();
          var form_data = read_form();
          var html = Mustache.render(template, form_data);
          joutArea = $('#out-area');
          joutArea.val(html);
          joutArea.height(joutArea.get(0).scrollHeight);
          joutArea.select();
          document.execCommand("copy");
          $('#preview').html(html);
          try {
            ga('send', 'event', 'dfp-template-generate', template_jselector, form_data['lp_token']);
          } catch(err) {
            console.error("Failed to submit ga event");
            console.debug(err);
          }
        });
      }

      $(function(){
        setup_browser_storage('ad-author');

        activate_template('#ftb-600x200-tmpl', '#ftb-600x200-btn');
        activate_template('#rich-300x250-tmpl', '#rt-300x250-btn');
        activate_template('#rich-300x600-tmpl', '#rt-300x600-btn');
        activate_template('#txt-468x15-tmpl', '#txt-468x15-btn');
        activate_template('#ad-970x250-res-tmpl', '#ad-970x250-rsp-btn');
      });
  </script>

  <!--
    {
      lp_token: '...',
      ad {
        ver: '01a',
        auth: 'ac',
        title: '...',
        brief: '...',
        cta: 'Read Now'
      }
      thumb {
        src: '...',
        alt: '...'
      }
    }
  -->
<noscript id="ftb-600x200-tmpl" type="text/template" style="display:none;">
<link rel="stylesheet" type="text/css" href="https://mktops.simplermedia.com/shared/ads.css" />
<div style="padding: 5px; border-bottom: 1px solid #EEEBEB; margin-top: 15px;margin-bottom:15px;overflow:hidden;">
<style>
* {font-family: "museo-sans",sans-serif;}
a, a:hover {text-decoration:none;}
</style>
<table cellpadding="0">
<tbody>
<tr><td valign="top" width="105"><a href="%%CLICK_URL_ESC%%https://www-cmswire.simplermedia.com/{{lp_token}}.html?smg_source=cmswire.com&smg_content=ad-600x200-{{ad.ver}}-{{ad.auth}}{{ad.row}}&smg_campaign={{lp_token}}&smg_medium=cpc" target="_blank"><img src="{{{thumb.src}}}" alt="{{thumb.alt}}" border="0" style="height:130px; width:auto;" /></a></td>   
  <td style="font-size: 20px; padding-left: 5px;padding;valign:center;align:left;"><a href="%%CLICK_URL_ESC%%https://www-cmswire.simplermedia.com/{{lp_token}}.html?smg_source=cmswire.com&smg_content=ad-600x200-{{ad.ver}}-{{ad.auth}}{{ad.row}}&smg_campaign={{lp_token}}&smg_medium=cpc" style="color: #007fa5;" target="_blank"><strong>{{{ad.title}}}</strong></a>
<div style="color:#666666;">{{ad.brief}}</div>
<div style="margin-top:9px"><img src="https://www-cmswire.simplermedia.com/rs/706-YIA-261/images/bullet.png">&nbsp;<a style="font-size: 15px;color: #007fa5;" href="%%CLICK_URL_ESC%%https://www-cmswire.simplermedia.com/{{lp_token}}.html?smg_source=cmswire.com&smg_content=ad-600x200-{{ad.ver}}-{{ad.auth}}{{ad.row}}&smg_campaign={{lp_token}}&smg_medium=cpc" target="_blank">{{ad.cta}}</a></div></td>
</tr>
</tbody>
</table>
</div>
<script src="https://mktops.simplermedia.com/shared/ads.js"></script>
</noscript>

<noscript id="rich-300x250-tmpl" type="text/template" style="display:none;">
<link rel="stylesheet" type="text/css" href="https://mktops.simplermedia.com/shared/ads.css" />
<style>
* {font-family: "museo-sans",sans-serif;}
a, a:hover {text-decoration:none;}
p {margin:0;color:#3A3737;font-size: 14px;}
a.button {
    background-color: #f6f7f9;
    border-color: #ced0d4;
    color: #4b4f56;
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    padding: 5px 12px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    margin-top: 5px;	
    text-decoration:none;
}
</style>
<div class="ad-container-300x250" style="height:250px;width:300px;overflow:hidden;">
<div style="margin:0 0 3px 0;"><a href="%%CLICK_URL_UNESC%%https://www-cmswire.simplermedia.com/{{lp_token}}.html?smg_source=cmswire.com&smg_medium=cpc&smg_campaign={{lp_token}}&smg_content=ad-rich-300x250-{{ad.ver}}-{{ad.auth}}{{ad.row}}" style="text-decoration:none;" target="_blank"><span style="font-size:16px; color:#F76600;">{{{ad.title}}}</span></a></div>
  <div style="margin-top: 3px;"><a href="%%CLICK_URL_UNESC%%https://www-cmswire.simplermedia.com/{{lp_token}}.html?smg_source=cmswire.com&smg_medium=cpc&smg_campaign={{lp_token}}&smg_content=ad-rich-300x250-{{ad.ver}}-{{ad.auth}}{{ad.row}}" target="_blank"><img src="{{{thumb.src}}}" style="width:155px;height:155px;max-width:none;padding:0px;"></a></div>
<div style="margin-top: 8px;"><a class="button" href="%%CLICK_URL_UNESC%%https://www-cmswire.simplermedia.com/{{lp_token}}.html?smg_source=cmswire.com&smg_medium=cpc&smg_campaign={{lp_token}}&smg_content=ad-rich-300x250-{{ad.ver}}-{{ad.auth}}{{ad.row}}" style="clear:both;" target="_blank">{{ad.cta}}</a></div>
</div>
<script type="text/javascript" src="https://mktops.simplermedia.com/shared/ads.js"></script>
</noscript>

<noscript id="rich-300x600-tmpl" type="text/template" style="display:none;">
<link rel="stylesheet" type="text/css" href="https://mktops.simplermedia.com/shared/ads.css" />
<style>
a, a:hover {text-decoration:none;}
p {margin:0;color:#3A3737;font-size: 14px;}
</style>
<div class="ad-container-300x600" style="text-align:center">
<div style="margin:0 0 8px 0;"><a href="%%CLICK_URL_UNESC%%https://www-cmswire.simplermedia.com/{{lp_token}}.html?smg_source=cmswire.com&smg_medium=cpc&smg_campaign={{lp_token}}&smg_content=ad-rich-300x600-{{ad.ver}}-{{ad.auth}}{{ad.row}}" style="text-decoration:none;" target="_blank"><span style="font-size:18.5px; color: #000000;"><strong>{{{ad.title}}}</strong></span></a></div>
<div style="margin-top: 3px;"><a href="%%CLICK_URL_UNESC%%https://www-cmswire.simplermedia.com/{{lp_token}}.html?smg_source=cmswire.com&smg_medium=cpc&smg_campaign={{lp_token}}&smg_content=ad-rich-300x600-{{ad.ver}}-{{ad.auth}}{{ad.row}}" target="_blank"><img src="{{{thumb.src}}}" style="width:250px;height:250px;max-height:250px;padding:0px;"></a></div>
<div style="margin-top: 8px;"><a class="button" href="%%CLICK_URL_UNESC%%https://www-cmswire.simplermedia.com/{{lp_token}}.html?smg_source=cmswire.com&smg_medium=cpc&smg_campaign={{lp_token}}&smg_content=ad-rich-300x600-{{ad.ver}}-{{ad.auth}}{{ad.row}}" style="clear:both; font-size:18.5px;" target="_blank">{{ad.cta}}</a></div>
</div>
<script src="https://mktops.simplermedia.com/shared/ads.js"></script>
</noscript>

<noscript id="txt-468x15-tmpl" type="text/template" style="display:none;">
<link rel="stylesheet" type="text/css" href="https://mktops.simplermedia.com/shared/ads.css" />
<a class="cw-ad-txtlnk" href="%%CLICK_URL_ESC%%https://www-cmswire.simplermedia.com/{{lp_token}}.html?smg_source=cmswire.com&smg_medium=cpc&smg_campaign={{lp_token}}&smg_content=ad-txt-{{ad.ver}}-{{ad.auth}}{{ad.row}}" target="_blank"><strong>{{{ad.title}}}</strong> ({{ad.txt_cta}})</a>
<script type="text/javascript" src="https://mktops.simplermedia.com/shared/ads.js"></script>
</noscript>

<noscript id="ad-970x250-res-tmpl" type="text/template" style="display:none;">
  <link rel="stylesheet" type="text/css" href="https://mktops.simplermedia.com/shared/ads.css" />
  <style>
  * {font-family: "museo-sans",sans-serif;}
  a, a:hover {text-decoration:none;}
  p {margin:0;color:#3A3737;font-size: 14px;}
  a.button {
      background-color: #f6f7f9;
      border-color: #ced0d4;
      color: #4b4f56;
      border: 1px solid;
      border-radius: 2px;
      box-sizing: content-box;
      font-size: 19px;
      -webkit-font-smoothing: antialiased;
      font-weight: bold;
      padding: 7px 14px;
      position: relative;
      text-align: center;
      text-shadow: none;
      vertical-align: middle;
      margin-top: 5px;	
      text-decoration:none;
  }
  </style>
  <div class="adz-970x250" style="max-height:250px;max-width:970px;overflow:hidden;background-color: #f9f6f6;">
  <table cellpadding="0" width="100%" style="margin:15px;">
  <tbody>
  <tr>
  <td style="font-size: 20px;margin:0 0 3px 0;text-align: center;"><a href="%%CLICK_URL_UNESC%%https://www-cmswire.simplermedia.com/{{lp_token}}.html?smg_source=cmswire.com&smg_content=ad-970x250-{{ad.ver}}-{{ad.auth}}{{ad.row}}&smg_campaign={{lp_token}}&smg_medium=cpc" style="text-decoration:none;" target="_blank"><span style="font-size:25px; color:#F76600;">{{{ad.title}}}</span></a>
  <br />
  <span style="font-size: 18px;">{{ad.brief}}</span>
  <div style="margin-top: 8px;"><a class="button" href="%%CLICK_URL_UNESC%%https://www-cmswire.simplermedia.com/{{lp_token}}.html?smg_source=cmswire.com&smg_content=ad-970x250-{{ad.ver}}-{{ad.auth}}{{ad.row}}&smg_campaign={{lp_token}}&smg_medium=cpc" style="clear:both;color:#fff;background-color:#E24F4E;border-color:#E24F4E;" target="_blank">{{ad.cta}}</a></div>
  </td></tr></tbody></table>
  </div>
  <script type="text/javascript" src="https://mktops.simplermedia.com/shared/ads.js"></script>
  </noscript>

  <!-- Form Controls -->
  <form id="input-form" autocomplete="off">
    <fieldset>
      <legend>Landing Page</legend>
        <input id="lptoken" type="text" style="width:300px" placeholder="Landing Page Token ( from the tracker )"/><br/>
    </fieldset>
    <fieldset>
        <legend>Media</legend>
          <input id="img-source" type="text" style="width:600px" placeholder="AD image URL"/><br/>
          <input id="img-alt" type="text" style="width:600px" placeholder="AD image ALT"/><br/>
    </fieldset>
    <fieldset>
      <legend>Geo</legend>
        <table>
          <tr>
            <td>
              <input id="geo-row" type="checkbox"/>
              <label for="geo-row" style="color:gray;">Is ROW (Rest of the World)?</label>
            </td>
            <td style="padding-left:20px;">
              <span style="font-size:0.75em;">Check this checkbox when setting up a line item for ROW (non North-America) creative. Here is <a target="_blank" href="https://docs.google.com/document/d/1uUhX9o0K56HpmPo9ctOshPB_dqC8PneEDxMIjEAU5G0/edit#bookmark=id.njdobdjiswjo">documentation reference</a> for more context.</span>
            </td>
          </tr>
        </table>
    </fieldset>
    <fieldset>
      <legend>AD</legend>
        <input id="ad-version" type="text" style="width:50px" placeholder="AD version" value="01a"/><br/>
        <input id="ad-author" type="text" style="width:50px" placeholder="AD author" value="ac"/><br/>
        <textarea id="ad-title" rows="2" style="width:600px" placeholder="AD title"></textarea><br/>
        <input id="ad-brief" type="text" style="width:600px" placeholder="AD brief" /><br/>
        <input id="ad-cta" type="text" style="width:600px" placeholder="AD CTA" value="Read Now" /><br/>
        <input id="ad-txt-cta" type="text" style="width:600px" placeholder="Text AD CTA" value="Read more" /><br/>
    </fieldset>
    <fieldset>
        <legend>Actions</legend>
        <input id="ftb-600x200-btn" type="button" value="600x200">
        <input id="rt-300x250-btn" type="button" value="300x250">
        <input id="rt-300x600-btn" type="button" value="300x600">
        <input id="txt-468x15-btn" type="button" value="468x15 TXT">
        <input id="ad-970x250-rsp-btn" type="button" value="970x250 RESP">
    </fieldset>
  </form>
  <div id="preview"></div>
  <textarea id="out-area" style="background-color:lightgray;min-height: 20px;margin-top:5px;width:100%;" ></textarea>
</body>
</html>