<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CMS LP Token Derivatives</title>
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
  
  <script id="tracking-link">
      $(function(){
        $('#genTrackingLink').click(function(e){
            var data = {
                lp_token:$('#lptoken').val(),
            };
            var tmpl = "http://www-cmswire.simplermedia.com/{{lp_token}}.html?smg_source=cmswire.com&smg_medium=[web/cpc/email]&smg_campaign={{lp_token}}&smg_content=[ad-size-version-itls]"
            $('#out').html(Mustache.render(tmpl, data));
        });
      });
  </script>

  <!-- Example of Mustache template + code sample-->
  <!--
    var template = $('#personTpl').html();
    var html = Mustache.to_html(template, data);
    $('#sampleArea').html(html);
  -->
  <script id="personTpl" type="text/template">
    <h1>{{firstName}} {{lastName}}</h1>
    <p>Blog URL: <a href="{{blogURL}}">{{blogURL}}</a></p>
  </script>

  <!-- Form Controls -->
  <input id="lptoken" type="text" style="width:300px" />
  <input id="genTrackingLink" type="button" value="Tracking Link">
  <div id="out" style="background-color:lightgray;min-height: 20px;margin-top:5px;" ></div>
</body>
</html>