<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TY Page X-Promo Templates</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> <!-- DOM manipulation-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script> <!-- HTML templates -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script> <!-- Convenience library -->
  <style>
    input#out-copy {
      background-color:palegreen;
    }

    div#out-copy-cnfrm {
      background-color:green;
      color:white;
      font-weight:bold;
      display:inline-block;
      font-size:0.75em;
      padding: 2px;
      margin-left: 3px;
    }
</style>
<script>
    model = {
        lp_token: '',
        ad: {
            title: 'AD TITLE',
            desc: 'AD DESCRIPTION',
            cta: 'AD CTA',
        },
        img: {
            alt: 'AD IMG ALT',
            src: 'https://www2.simplermedia.com/rs/706-YIA-261/images/article-img-placeholder-322x115.png'
        }
    }

    function update_view() {
        let template = $('#x-promo-tmpl').html().trim();
        let html = Mustache.render(template, model);
        joutArea = $('#out-area');
        joutArea.val(html);
        joutArea.height(joutArea.get(0).scrollHeight);
        // Updating preview in iframe
        let ifrm = $('#preview-frame');
        $('#preview', ifrm.contents()).html(html);
        ifrm.height(ifrm.contents().height());
        // Showing the copy button
        $('#out-copy').show();
    }

    function setup_ui() {
        //Set up preview frame
        let ifrm = $('#preview-frame');
        $('head', ifrm.contents()).html($('#preview-container-head').html());
        $('body', ifrm.contents()).html($('#preview-container-body').html());
        $('body', ifrm.contents()).attr('id', 'bodyId');
        $('body', ifrm.contents()).attr('class', 'mktEditable lp-2-column');
        console.info("DONE: setup ui");
        //Set up click to copy link
        $('#out-copy').click(function() {
            joutArea = $('#out-area');
            joutArea.select();
            document.execCommand("copy");
            $('#out-copy-cnfrm').fadeIn(300).fadeOut(500);
        });
    }

    $(function(){
        setup_ui();
        $('#go-btn').click(function() {
            // Update model on action button click
            $('input[j-bind]').each(function() {
                _.set(model, $(this).attr('j-bind'), $(this).val());
            });
            update_view();
        });
    });
</script>

    <form id="input-form" autocomplete="off">
    <fieldset>
        <legend>Landing Page</legend>
        <input id="lptoken" j-bind="lp_token" type="text" style="width:300px" placeholder="Landing Page Token ( from the tracker )"/>
    </fieldset>
    <fieldset>
        <legend>Media</legend>
        <input id="img-source" j-bind="img.src" type="text" style="width:600px" placeholder="AD image URL"/><br/>
        <input id="img-alt" j-bind="img.alt" type="text" style="width:600px" placeholder="AD image ALT"/><br/>
    </fieldset>
    <fieldset>
        <legend>Copy</legend>
        <input id="ad-title" j-bind="ad.title" type="text" style="width:600px" placeholder="AD title" /><br/>
        <input id="ad-brief" j-bind="ad.brief" type="text" style="width:600px" placeholder="AD brief" /><br/>
        <input id="ad-cta" j-bind="ad.cta" type="text" style="width:600px" placeholder="AD CTA" value="Read Now" /><br/>
    </fieldset>
    <input id="go-btn" type="button" style="padding: 10px;margin-top:5px;font-size:110%;" value="Generate X-Promo">
</form>            
<hr/>
<iframe id="preview-frame" style="width:1260px;height:260px;transform-origin:top left;transform: scale(0.89);"></iframe>
<hr />
X-PROMO HTML <input type="button" id="out-copy" style="display:none;" value=" >> click here to copy" /><div id='out-copy-cnfrm' style="display:none;">DONE</div>
<textarea id="out-area" style="background-color:lightgray;min-height: 20px;margin-top:5px;width:100%;" ></textarea>

<noscript id="x-promo-tmpl" type="text/template">
<div class="col-lg-12 content-wrap__content-block">
<div class="col-lg-4">
<div class="content-wrap__content-block__img-wrap"><a target="_blank" style="line-height: 25px !important;" href="https://www-cmswire.simplermedia.com/{{lp_token}}.html?smg_source=cmswire.com&smg_medium=email&smg_campaign={{lp_token}}&smg_content=xpromo-nty"><img style="margin: 0px !important;" src="{{{img.src}}}" alt="{{img.alt}}"/></a></div>
</div>
<div class="col-lg-8">
<div class="content-wrap__content-block__text-wrap"><span><a class="article-title" target="_blank" style="line-height: 25px !important;" href="https://www-cmswire.simplermedia.com/{{lp_token}}.html?smg_source=cmswire.com&smg_medium=email&smg_campaign={{lp_token}}&smg_content=xpromo-nty">{{ad.title}}</a></span>
<p style="margin: 0px; line-height: 25px;">{{ad.brief}}</p>
<a target="_blank" style="line-height: 25px !important;" href="https://www-cmswire.simplermedia.com/{{lp_token}}.html?smg_source=cmswire.com&smg_medium=email&smg_campaign={{lp_token}}&smg_content=xpromo-nty">{{ad.cta}}</a></div>
</div>
</div>
</noscript>

<noscript type="text/plain" id="preview-container-head">
<link rel="stylesheet" href="https://www2.simplermedia.com/rs/706-YIA-261/images/style-v3u-b.css?cw=3">
<link rel="stylesheet" href="https://use.typekit.net/gtl4etw.css">
<link rel="stylesheet" type="text/css" media="all" href="https://www2.simplermedia.com/css/mktLPSupportCompat.css">
<style type="text/css">
#bodyId {
    background: #ffffff;
    font-family: helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    margin: 0px;
    padding: 0px;
}
div#outerWrapDiv {
    position: relative;
    height: 100%;
    width: 100%;
}
div#innerWrapDiv {
    position: relative;
    background: #ffffff;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: left;
}
</style>
<style type="text/css">
.content-wrap a {
    font-family: sans-serif;
}

@media screen and (max-width: 640px) {
    footer.cw {
        display: none;
    }
}
</style>
<link rel="stylesheet" type="text/css" href="https://mktops.simplermedia.com/cmswire/shared/marketo/cw-main-v2.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</noscript>    

<noscript type="text/plain" id="preview-container-body">
<div id="containerMkto">
<div class="mktoContent">
<div id='lpeCDiv_116519' class='lpeCElement txtBody'>
<span class='lpContentsItem richTextSpan'>
<div class="content">
<div class="container">
<div class="row">
<div class="col-lg-10 col-lg-offset-1 animated fadeInUp">
<div class="content-wrap">
<div class="row">
<div class="bg-wrap">

<!-- X-PROMO PREVIEW AREA -->
<div id="preview"></div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</span>
</div>

</div>
</div>
</noscript>

</body>
</html>
