<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>X PROMO GENERATOR</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
</head>
<body>
<!-- CODE -->  
  <script>
    $(document).ready(function() {
        $('#asset-desc').summernote({
            callbacks: {
                onPaste: function (e) {
                    var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                    e.preventDefault();
                    document.execCommand('insertText', false, bufferText);
                }
            },
            toolbar: [ ],
        });
        activate_template('#x-promo-tmpl', '#go-btn');
    });

    function read_form() {
       // processing html from wysiwyg editor
       var str_content = $('#asset-desc').val();
       var dom_content = $.parseHTML(str_content);
       $(dom_content).find(/*replace b with strong*/'b').replaceWith(function() {return $("<strong/>", {html: $(this).html()})}); 
       var jnew_content = $(dom_content).unwrap(/*remove outer p*/);

        var data =     {
            cpl_token: $('#cpl-token').val(),
            img: {
              url: $('#img-source').val(),
              alt: $('#img-alt').val(),
              title: $('#img-alt').val()
            },
            link_title: $('#link-title').val(),
            asset_desc: jnew_content.html(),
          };
          return data;
      }
      
      function activate_template( template_jselector, button_jselector ) {
        $(button_jselector).click(function(e){
          var template = $(template_jselector).html().trim();
          var form_data = read_form();
          var html = Mustache.render(template, form_data);
          joutArea = $('#out-area');
          joutArea.val(html);
          joutArea.height(joutArea.get(0).scrollHeight);
          joutArea.select();
          document.execCommand("copy");
          $('#preview').html(html);
        });
      }
  </script>

<!-- FORM -->
  <form id="input-form">
        <fieldset>
          <legend>Landing Page</legend>
            <input id="cpl-token" type="text" style="width:300px" placeholder="Landing Page Token ( from the tracker )"/><br/>
        </fieldset>
        <fieldset>
            <legend>Media</legend>
              <input id="img-source" type="text" style="width:600px" placeholder="AD image URL"/><br/>
              <input id="img-alt" type="text" style="width:600px" placeholder="AD image ALT"/><br/>
        </fieldset>
        <fieldset>
          <legend>AD</legend>
          <input id="link-title" type="text" style="width:600px" placeholder="AD brief" /><br/>
          <textarea id="asset-desc" rows="2" style="width:600px" placeholder="AD title"></textarea><br/>
        </fieldset>
        <fieldset>
            <legend>Actions</legend>
            <input id="go-btn" type="button" value="GO">
        </fieldset>
      </form>
      <div id="preview"></div>
      <textarea id="out-area" style="background-color:lightgray;min-height: 20px;margin-top:5px;width:100%;" ></textarea>
    

<!-- TEMPLATES -->
<!--
    {
        cpl_token: '',
        img: {
            alt: '',
            url: '',
            title: ''
        },
        link_title: '',
        asset_desc: 'HTML'
    }
-->
<noscript id="x-promo-tmpl" type="text/template" style="display:none;"> 
<table style="background-color: #f4f4f4;" class="xpromo-test">
<tbody>
<tr style="font-family: helvetica, san-serif;">
<td><a href="https://www-cmswire.simplermedia.com/{{cpl_token}}.html?smg_source=cmswire.com&smg_medium=email&smg_campaign={{cpl_token}}&smg_content=xpromo" target="_blank"> 
<img title="{{img.title}}" src="{{{img.url}}}{{^img.url}}https://www2.simplermedia.com/rs/706-YIA-261/images/digitalmarketingmaturity_resultsarein_PROGRESS-1.jpg{{/img.url}}" alt="{{img.alt}}" style="padding: 5% 0% 5% 10px;" border="0" hspace="5" vspace="5" width="100" height="100" align="left" constrain="true" imagepreview="false" /> </a></td>
<td>
<p><strong>You may also be interested in this trending resource:</strong><br /></p>
<p><strong> <a href="https://www-cmswire.simplermedia.com/{{cpl_token}}.html?smg_source=cmswire.com&smg_medium=email&smg_campaign={{cpl_token}}&smg_content=xpromo" target="_blank">{{link_title}}{{^link_title}}LINK TITLE HERE{{/link_title}}</a></strong> <br />
    <em>{{{asset_desc}}}{{^asset_desc}}ASSET DESCRIPTION HTML{{/asset_desc}}</em></p>
</td>
</tr>
</tbody>
</table>
</noscript>
        
</body>
</html>
